{% extends 'base.html' %}
{% block title %}My Profile{% endblock title %}
{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

    <div class="container">
        <div class="row">
            {% include 'accounts/dashboard_sidebar.html' %}
            <main class="col-md-9">
                <article class="card">
                    <header class="card-header">
                        <strong class="d-inline-block mr-3">Logged in as: </strong>
                        <span>{{user.full_name}}</span>
                    </header>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card" style="text-align: center;">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <h5>Total orders</h5>
                                            <h4>{{order_count}}</h4>
                                            <a href="{% url 'my_orders' %}">View Orders</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card" style="text-align: center;">
                                    <div class="card-body">
                                        <div class="card-title">

                                            <img src="{{user_profile.profile_picture.url}}" alt="Profile picture"
                                                width="50" height="50" style="border-radius: 50%;margin-bottom: 5px;">
                                            <p class="mb-0">{{user.email}}</p>
                                            <p>{{user.phone_number}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article> <!-- order-group.// -->
            </main>
        </div> <!-- row.// -->
    </div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}